pipeline/Master Pipeline v1.json
{
	"name": "Master Pipeline v1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored Procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM metadata.All_Connections_v2\nwhere workflow = 'WF1' and id in ( 1, 2)\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_Metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Child Pipeline v3",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PassingSchema": {
							"value": "@activity('Lookup1').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Stored Procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[metadata].[sp_Truncate_StagingTables]"
				},
				"linkedServiceName": {
					"referenceName": "LS_Metadata",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateAllConnectionsParameters",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[log].[usp_All_Connections_v2_Update_Parameters]"
				},
				"linkedServiceName": {
					"referenceName": "LS_Metadata",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}